:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --maintext-color: #212121;
    --othertext-color: #757575;
    --whitetext-color: #ffffff;
    --linkcolor: #2196f3;
}