.hero {
    width: 100%;
    background-color: #2f303a;
    padding: 118px 0px;
    @include desktop {
     padding-top: 200px;
     padding-bottom: 200px;
     padding-left: 0;
     padding-right: 0;   
    }

}

.overlay {    
    background-image: var(--bg-gradient),
         url(../images/adaptation/header-img-mb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    @include retina
    {background-image: var(--bg-gradient),
    url(../images/adaptation/header-img-mb-2x.jpg);
      }
    @include tablet {
        background-image: var(--bg-gradient),
        url(../images/adaptation/header-img-tb.jpg);
        @include retina {
             background-image: var(--bg-gradient),
             url(../images/adaptation/header-img-tb-2x.jpg);
            }
        }
    @include desktop {
     background-image: var(--bg-gradient),
    url(../images/img.jpg);
    @include retina {
            background-image: var(--bg-gradient),
            url(../images/img-2x.jpg);
        }
    }
    
}

.hero__title {
    font-weight: 900;      
    font-size: 20px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--whitetext-color);
    margin-bottom: 30px;
    @include mobile {
        font-size: 26px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
    
}

.hero__button {
    padding: 10px 24px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--whitetext-color);
    background-color: var(--linkcolor);
    margin-right: auto;
    margin-left: auto;
}