.team {
    background-color: #f5f4fa;
}

.photo-list {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.photo-list__item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
        margin-right: 0;
    }
}

.photo-list__context {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--whitetext-color);
}

.photo-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--maintext-color);
}

.photo-list__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 16px;
}

.soc{
    display: flex;
    justify-content: center;
    gap: 10PX;

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--whitetext-color);
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--linkcolor);
        }
    }
}

.icon-team {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .soc__link:hover &,
    .soc__link:focus & {
        fill: var(--whitetext-color);
    }
}

